.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.box-logo {
  margin: 25rem 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.box-logo__logo {
  width: 30rem;
  font-size: 500px;
  margin-bottom: 2rem;
  animation: fadeIn 1s;
}

.box-text {
  line-height: 1.5rem;
  text-align: center;
}

.box-text strong {
  font-weight: 800;
  font-size: 1rem;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
