<section class="carousel">
  <form
    id="uploadForm"
    action="/upload"
    method="POST"
    enctype="multipart/form-data"
  >
    <label for="upload">사진 변경</label>
    <input type="file" id="fileInput" name="file" id="upload" />
  </form>
  <form
    id="submitForm"
    action=""
    method="POST">
    <label for="submit">저장</label>
  </form>
  <nav class="carousel__nav">
    <div class="carousel__prev"><</div>
    <div class="carousel__next">></div>
  </nav>
  <div class="carousel__image">
    <img src="/assets/beomsang-outer.jpeg" alt="가게 내부" />
  </div>
</section>
