.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  padding: 5rem;
  height: 5rem;
  width: 100%;
  font-size: large;
  font-weight: 700;
  backdrop-filter: blur(30px);
  z-index: 5;
}

.header a {
  margin: 0 3rem 0 3rem;
}
