ul {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.card {
  border-radius: 1rem;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 32px 32px 64px #bebebe, -32px -32px 64px #ffffff;
  width: 30rem;
  height: 25rem;
  text-align: center;
}

.card img {
  width: inherit;
  border-radius: 1rem 1rem 0 0;
}
