<section class="carousel">
  <nav class="carousel__nav">
    <div class="carousel__prev">
      <span class="material-symbols-outlined"> chevron_left </span>
    </div>
    <div class="carousel__next">
      <span class="material-symbols-outlined"> chevron_right </span>
    </div>
  </nav>
  <div class="carousel__image">
    <img src="/assets/beomsang-outer.jpeg" alt="가게 내부" />
  </div>
</section>
