<section class="carousel">
  <nav class="carousel__nav">
    <div class="carousel__prev"><</div>
    <div class="carousel__next">></div>
  </nav>
  <div class="carousel__image">
    <img src="/assets/beomsang-outer.jpeg" alt="가게 내부" />
  </div>
</section>
