<!DOCTYPE html>
<html>
  <head>
    <title>A2S</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/promise.css" />
    <link rel="stylesheet" href="/css/carousel.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <script src="/js/home.js" defer></script>
  </head>
  <body>
    <% include ./includes/header.ejs %>

    <section class="box-logo">
      <img class="box-logo__logo" src="/assets/beomsang-logo.jpg" alt="범상" />
      <% include ./indexIncludes/desc.ejs %>
    </section>
    <% include ./indexIncludes/carousel.ejs %>
    <main><% include ./indexIncludes/promise.ejs %></main>
    <% include ./indexIncludes/footer.ejs %>
  </body>
</html>
