<header>
  <div>
    <a href="#">SPM. COPR</a>
  </div>
  <nav class="nav">
    <a href="#">MENU</a>
    <a href="#">PROJECT</a>
    <a href="#">RECRUIT</a>
    <a href="#">CONTACT</a>
  </nav>
</header>
