.carousel {
  position: relative;
  height: 50vh;
  margin-bottom: 5rem;
}

.carousel__nav {
  position: absolute;
  width: 1000px;
  height: 500px;
  z-index: 10;
  left: 6%;
}

.carousel__prev,
.carousel__next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 50%;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  background-color: #05050500;
  backdrop-filter: blur(5px);
  cursor: pointer;
  z-index: 99;
}

.carousel__prev {
  left: 0rem;
}
.carousel__next {
  right: 9rem;
}

.carousel img {
  border-radius: 1rem;
  object-fit: cover;
  width: 1000px;
  height: 500px;
}
