body {
  font-family: 'Inter', 'NanumSquare', 'Apple SD Gothic Neo', 'Malgun Gothic',
    'Nanum Gothic', 'Noto Sans', 'sans-serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1111;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  height: 90px;
  width: 100vw;
  font-size: large;
  font-weight: 700;
  backdrop-filter: blur(30px);
  z-index: 99;
}

.header nav {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

a {
  color: #111;
}
