.menu-box {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 10rem;
  width: 100vw;
  height: 100vh;
  padding: 5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  padding: 3rem;
  height: 2rem;
  width: 100%;
  font-size: large;
  font-weight: 700;
  background-color: #efefef;
  z-index: 80;
}

.header a {
  margin: 0 3rem 0 3rem;
}

.header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  font-size: large;
  font-weight: 700;
}

.header button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
}

.category-box h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.card-list {
  display: flex;
  overflow: scroll;
  height: 50vh;
}

.card {
  width: 15vw;
  height: 40vh;
  box-shadow: 10px 10px 50px -15px rgba(0, 0, 0, 0.408);
  -webkit-box-shadow: 10px 10px 50px -15px rgba(0, 0, 0, 0.282);
  -moz-box-shadow: 10px 10px 50px -15px rgba(0, 0, 0, 0.137);
  border-radius: 1.5rem;
  margin: 1rem;
}

.card img {
  border-radius: 1.5rem 1.5rem 0 0;
  width: inherit;
  height: 20vh;
  object-fit: cover;
}

.card__middle,
.card__bottom {
  padding: 1rem;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
}

.card__bottom strong {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 1.5rem;
  font-weight: 600;
  background-color: #111;
  color: #fff;
  width: 5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.card__bottom button {
  width: 5rem;
  height: 2.5rem;
  cursor: pointer;
}

.edit-modal {
  position: fixed;
  top: 20%;
  left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 5;
  width: 50vw;
  height: 70vh;
  background-color: #fff;
  border-radius: 1rem;
}

.overlay {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 94;
  width: 100vw;
  height: 100vh;
  background-color: #00000058;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 30%;
  width: 500px;
  border-radius: 1rem;
  height: 700px;
  z-index: 95;
  background-color: #fff;
}

.form button:hover {
  background-color: #111;
  color: #fff;
}

.form input {
  margin-bottom: 1rem;
  border: none;
  background-color: #ffffff00;
  border-bottom: 1px solid #111;
  color: #111;
  font-size: 1.5rem;
}

.form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 300px;
}

.form select {
  border: none;
  border-bottom: 1px solid #111;
}

.form button {
  margin-bottom: 1rem;
  border: none;
  border-radius: 1rem;
  width: 300px;
  height: 3rem;
  cursor: pointer;
  color: #fff;
  background-color: #f15825;
  transition: 0.5s all;
}

.hidden {
  display: none;
  animation: 0.5s onForm;
}

.overlay,
.form {
  animation: 0.5s onForm;
}

@keyframes onForm {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 1440px) {
  .card {
    width: 30vw;
  }
}

@media (max-width: 1024px) {
  .card__bottom button {
    width: 3.5rem;
  }
}

@media (max-width: 768px) {
  .card {
    width: 35vw;
  }
}
