.menu-box {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  width: 100vw;
  height: 100vh;
  padding: 5rem;
}

.category-box h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.card-list {
  display: flex;
  overflow: scroll;
}

.card {
  width: 15vw;
  height: 40vh;
  box-shadow: 10px 10px 50px -15px rgba(0, 0, 0, 0.408);
  -webkit-box-shadow: 10px 10px 50px -15px rgba(0, 0, 0, 0.282);
  -moz-box-shadow: 10px 10px 50px -15px rgba(0, 0, 0, 0.137);
  border-radius: 1.5rem;
  margin: 1rem;
}

.card img {
  border-radius: 1.5rem 1.5rem 0 0;
  width: 15vw;
  height: 20vh;
  object-fit: cover;
}

.card__middle,
.card__bottom {
  padding: 1rem;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
}

.card__bottom strong {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 1.5rem;
  font-weight: 600;
  background-color: #111;
  color: #fff;
  width: 5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.card__bottom button {
  width: 5rem;
  height: 2.5rem;
  cursor: pointer;
}

.edit-modal {
  position: fixed;
  top: 20%;
  left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 5;
  width: 50vw;
  height: 70vh;
  background-color: #fff;
  border-radius: 1rem;
}

.overlay {
  top: 0;
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: #00000058;
}
