.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  height: 90px;
  width: 100vw;
  font-size: large;
  font-weight: 700;
  backdrop-filter: blur(30px);
  z-index: 99;
}

.header nav {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.header button {
  border: none;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
}

/* Menu */

.menu-box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 15rem;
  background-color: #111;
  width: 100vw;
}

.category-box-left {
  grid-area: 1 / 1 / 2 / 5;
}
.category-box-right {
  grid-area: 1 / 5 / 2 / 7;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f15825;
  width: 60vw;
  font-size: 2.5rem;
}

/* ADD Form */

.overlay {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 94;
  width: 100vw;
  height: 100vh;
  background-color: #00000058;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 30%;
  width: 500px;
  border-radius: 1rem;
  height: 700px;
  z-index: 95;
  background-color: #fff;
}

.form button:hover {
  background-color: #111;
  color: #fff;
}

.form input {
  margin-bottom: 1rem;
  border: none;
  background-color: #ffffff00;
  border-bottom: 1px solid #111;
  color: #111;
  font-size: 1.5rem;
}

.form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 300px;
}

.form select {
  border: none;
  border-bottom: 1px solid #111;
}

.form button {
  margin-bottom: 1rem;
  border: none;
  border-radius: 1rem;
  width: 300px;
  height: 3rem;
  cursor: pointer;
  color: #fff;
  background-color: #f15825;
  transition: 0.5s all;
}

.hidden {
  display: none;
  animation: 0.5s onForm;
}

.overlay,
.form {
  animation: 0.5s onForm;
}

@keyframes onForm {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 1440px) {
  .card {
    width: 30vw;
  }
}

@media (max-width: 1024px) {
  .card__bottom button {
    width: 3.5rem;
  }
}

@media (max-width: 768px) {
  .card {
    width: 35vw;
  }
}
