<header>
  <div>
    <a href="/main">A2S. COPR</a>
  </div>
  <nav class="nav">
    <a href="/menu">MENU</a>
    <a href="/project">PROJECT</a>
    <a href="/recruit">RECRUIT</a>
    <a href="/contact">CONTACT</a>
  </nav>
</header>
