<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>범상 - 로그인</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/auth/login.css" />
  </head>
  <body>
    <main class="main">
      <div class="backdrop"></div>
      <form id="formAuthentication" class="mb-3" action="/" method="POST">
        <h1>범상</h1>
        <p style="font-size:20px; margin-bottom:10px; font-weight:bold">관리자에게 문의하세요.</p>
        <p style="font-size:15px; margin-bottom:10px;">이메일 주소:</p>
        <p style="font-size:15px; margin-bottom:10px;">gydnjsdl426@naver.com</p>
        <button>메일 전송</button>
        <a href="/">로그인 페이지로</a>
      </form>
    </main>

    <script src="/js/login.js"></script>
  </body>
</html>
