<!DOCTYPE html>
<html>
  <head>
    <title>범상 메인 페이지 - 수정</title>
    <link rel="stylesheet" href="/css/main/reset.css" />
    <link rel="stylesheet" href="/css/main/style.css" />
    <link rel="stylesheet" href="/css/main/index.css" />
    <link rel="stylesheet" href="/css/main/promise.css" />
    <link rel="stylesheet" href="/css/main/carousel.css" />
    <link rel="stylesheet" href="/css/main/footer.css" />
    <link rel="stylesheet" href="/css/main/on-text.css" />

    <script src="/js/carousel.js" defer></script>
  </head>
  <body>
    <% include ./includes/header.ejs %>

    <section class="box-logo">
      <img class="box-logo__logo" src="/assets/beomsang-logo.jpg" alt="범상" />

      <% include ./indexIncludes/desc.ejs %>
    </section>
    <% include ./indexIncludes/carousel.ejs %> <% include
    ./indexIncludes/promise.ejs %> <% include ./indexIncludes/footer.ejs %>
  </body>
</html>
