<!DOCTYPE html>

<html lang="ko">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>범상 메뉴 - 관리</title>

    <link rel="stylesheet" href="/css/main/reset.css" />

    <link rel="stylesheet" href="/css/main/style.css" />

    <link rel="stylesheet" href="/css/menu/menu.css" />

    <script src="/js/menu.js" defer></script>
  </head>

  <body>
    <header class="header">
      <div>
        <a href="/main">범상 스프커리</a>
      </div>

      <nav>
        <a href="/menu">메뉴</a>

        <button class="button-add">음식 추가하기</button>
      </nav>
    </header>

    <main class="menu-box">
      <div class="category-box-left">
        <div class="title-box">스프커리</div>
        <div class="category-box__inner">
          <div class="category-box__item-list">
            <li>스프커리</li>
          </div>
          <div class="category-box__item-list">
            <li>스프커리</li>
          </div>
        </div>

        <div>0단계</div>
        <div>1단계</div>
        <div>2단계</div>
        <div>3단계</div>
        <div>4단계</div>
        <div>5단계</div>
      </div>
      <div class="category-box-right">
        <div>Hi</div>
      </div>

      <div class="overlay hidden"></div>
      <form action="#" class="form hidden">
        <div>
          <input type="file" name="" id="" />
        </div>

        <div>
          <label for="form__food-name">음식명</label>

          <input type="text" id="food-name" />
        </div>

        <div>
          <label for="food-cateogry">카테고리</label>

          <select id="food-category">
            <option value="">시그니처 스프카레</option>

            <option value="">시그니처 스프카레</option>
          </select>
        </div>

        <div>
          <label for="form__food-description">음식 설명</label>

          <input type="text" id="food-description" />
        </div>

        <div>
          <label for="form__food-price">가격</label>
          <input type="text" id="food-price" />
        </div>

        <div>
          <button type="submit">추가</button>
          <button type="submit" class="button-close">닫기</button>
        </div>
      </form>
    </main>
  </body>
</html>
