.carousel-item__img {
  margin: 1rem;
  border-radius: 1rem;
  width: 1000px;
  height: 500px;
  object-fit: cover;
  transition: 3s all;
  animation: onImage 5s;
  transform: translateX(25%);
}

@keyframes onImage {
  0% {
    opacity: 0%;
  }

  70% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
