/* animation: onText 3s; */

.brand-promise {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.top,
.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 15px;
  animation: onText 3s;
}

.middle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 15px;
}

.bottom {
  margin-bottom: 1.5rem;
}

.middle div:first-child {
  grid-area: 2 / 2 / 3 / 3;
  animation: onText 3s;
}
.middle div:nth-child(2) {
  grid-area: 3 / 2 / 4 / 3;
  animation: onText 4s;
}
.middle div:nth-child(3) {
  grid-area: 2 / 3 / 3 / 4;
  animation: onText 5s;
}
.middle div:nth-child(4) {
  grid-area: 3 / 3 / 4 / 4;
  animation: onText 6s;
}
.middle div:last-child {
  grid-area: 4 / 3 / 5 / 4;
  animation: onText 7s;
}

.middle strong {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: #111;
  color: #fff;
}

.top div:first-child,
.bottom div:first-child {
  grid-area: 2 / 2 / 3 / 3;
}

.top div:last-child,
.bottom div:last-child {
  grid-area: 2 / 3 / 3 / 4;
}

.top div h3 {
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.top div:last-child {
  margin-top: 2rem;
}

.border-line {
  margin: 1rem 0;
  border: 1px solid #111;
}

@keyframes onText {
  0% {
    opacity: 0%;
  }

  70% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
