.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 1rem;
}

.parent div:first-child {
  grid-area: 2 / 2 / 3 / 3;
}
.parent div:nth-child(2) {
  grid-area: 2 / 3 / 3 / 4;
}
.parent div:nth-child(3) {
  grid-area: 3 / 2 / 4 / 3;
}
.parent div:nth-child(4) {
  grid-area: 4 / 2 / 5 / 3;
}
.parent div:nth-child(5) {
  grid-area: 3 / 3 / 4 / 4;
}
.parent div:nth-child(6) {
  grid-area: 4 / 3 / 5 / 4;
  margin-bottom: 2rem;
}
.parent div:nth-child(7) {
  grid-area: 5 / 3 / 6 / 4;
  margin-bottom: 2rem;
}
.parent div:nth-child(8) {
  grid-area: 6 / 2 / 7 / 3;
}
.parent div:last-child {
  grid-area: 6 / 3 / 7 / 4;
}
.parent div:last-child div {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #111;
}

.parent h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.parent div strong {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: #111;
  color: #fff;
}
