.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
  width: 100vw;
  height: 20vh;
}

.footer a {
  margin: 1rem;
  font-size: 2rem;
}

@keyframes onImage {
  0% {
    opacity: 0%;
  }

  70% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
