.box-logo {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-logo__logo {
  width: 40rem;
  font-size: 500px;
  animation: onImage 3s;
  margin-bottom: 3rem;
}

@keyframes onImage {
  0% {
    opacity: 0%;
  }

  70% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
